body {
    font-family: Arial, Helvetica, sans-serif;
}

#about {
    background-color: #f7f7f7;
}

#about h1 {
    font-size: 3rem;
    font-weight: bold
}

#about p {
    font-size: 1.2rem;
    text-align: center;
    color: #5e5e5e;
}

#skills {
    background-color: white;
}

#skills h2 {
    font-size: 2.5rem;
}

#projetos {
    background-color: #f7f7f7;
}

#projetos h2 {
    font-size: 2.5rem;
}

#contato {
    background-color: white;
}

#contato h2 {
    font-size: 2.5rem;
}

#contato p {
    font-size: 1.2rem;
}

#contato a {
    text-decoration: none;
    color: black;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}


